<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                      <p>Хотите удалить пользователя "{{ object.username }}"?</p>
                        <button type="submit" class="btn btn-success">Подтвердить</button>
                      <a href="{% url 'users_app:list_user' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
