{% extends 'clients_app/base.html' %}

{% block content %}
    <h2>Рассылки</h2>
    <div class="col-12 mb-5">
        <a class="btn btn-outline-primary" href="{% url 'mailing_app:create_mailing' %}">Создать рассылку</a>
    </div>
    <div class="col-md-4">
        {% for mailing in object_list %}
            <div class="card mb-4 box-shadow">
                <div class="card-header bg-light">
                    <h5 class="mb-0">Рассылка №{{ mailing.id }}</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'mailing_app:view_mailing' mailing.pk %}"
                               class="btn btn-sm btn-outline-secondary">Просмотр рассылки</a>
                            <a href="{% url 'mailing_app:update_mailing' mailing.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Редактировать рассылку</a>
                            <a href="{% url 'mailing_app:delete_mailing' mailing.pk %}" type="button"
                               class="btn btn-sm btn-outline-danger">Удалить рассылку</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}